extends ../shared/layout

block main-content
    div(class='container' ng-controller='CartController as vm')
        if(inCart)
            h1 Are you sure you want to remove this product from your cart?
        else
            h1 Product details

        table.table.table-stripped.table-hover
            thead
            tr
                th Category
                th Name
                th Price
                if(product.description)
                    th Description
            tbody
                tr
                    td(style='vertical-align:middle')= product.category
                    td(style='vertical-align:middle')= product.name
                    td(style='vertical-align:middle')= product.price
                    if(product.description)
                        td(style='vertical-align:middle')= product.description
        if(product.image)
            div(style="text-align:center")
                img(src=product.image style="width:400px" class='img-rounded')
                if(currentUser)
        div(class='col-md-10 col-md-offset-1')
            if(!inCart)
                a.btn.btn-primary.pull-left(href='/products') Back to the shop
                div(class='btn btn-primary pull-right',ng-click='vm.addToCart()') Add To Cart
            if(inCart)
                a.btn.btn-primary.pull-left(href='/cart') Back to the cart
                div(style='vertical-align:middle' class='btn btn-primary pull-right',ng-click='vm.removeFromCart()') Remove From Cart