extends ../shared/layout

block main-content
    div(class='container' ng-controller='CartController as vm')
        if(inCart)
            h1 Are you sure you want to remove this product from your cart?
        else
            h1 Product details

        table.table.table-stripped.table-hover
            thead
            tr
                th Category
                th Name
                th Price
                if(product.description)
                    th Description
                th
            tbody
                tr
                    td(style='vertical-align:middle')= product.category
                    td(style='vertical-align:middle')= product.name
                    td(style='vertical-align:middle')= product.price
                    if(product.description)
                        td(style='vertical-align:middle')= product.description
                    if(currentUser)
                        if(!inCart)
                            td(style='vertical-align:middle')
                                div(class='btn btn-sm',ng-click='vm.addToCart()') Add To Cart
                        if(inCart)
                            td(style='vertical-align:middle')
                                div(style='vertical-align:middle')(class='btn btn-sm',ng-click='vm.removeFromCart()') Remove From Cart
        if(product.image)
            div(style="text-align:center")
                img(src=product.image style="width:400px")