extends ../shared/layout

block main-content
    .container
        h1 Order details

        table.table.table-stripped.table-hover
            thead
            tr
                th Address
                th Price
            tbody
                tr
                    td(style='vertical-align:middle')= order.address
                    td(style='vertical-align:middle')= order.price
        div.col-md-10.col-md-offset-1
            a.btn.btn-primary.pull-left(href='/orders') Back to all orders
        table.table.table-stripped.table-hover
            thead
            tr
                th Category
                th Product Name
                th Price
                th Image
                th
            tbody
                each product in order.products
                    tr
                        td(style='vertical-align:middle')= product.category
                        td(style='vertical-align:middle')= product.name
                        td(style='vertical-align:middle')= product.price
                        td(style='vertical-align:middle')
                            img.image_table.img-rounded(src=product.image)
                        td(style='vertical-align:middle')
                            a.btn.btn-sm(href='/order/product/' + product.id) Product Details